*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --color-primario: #333;
  --color-secundario: #ccc;
  --color-claro: #ffe;
  /* --color-claro: #fff; */
  --color-oscuro: #333;
  /* --color-oscuro: #000; */
  --header-size: 5rem;
  --font: 1.6rem;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
p{
  font-size: var(--font);
  line-height: 2.5rem;
}
small{
  font-size: 1rem;
}
html{
  font-size: 62.5%;
  font-family: 'Niuno Sans', sans-serif;
  color: var(--color-claro);
  background-color: var(--color-oscuro);
}
a{
  text-decoration: none;
  color: var(--color-claro);
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--color-claro);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--color-primario);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  height: 64px;
  max-width: 992px;
}
.navbar-nav {
  display: flex;
}
.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  height: 64px;
  margin-left: 12px;
  list-style:none;
  width: 100px;
}
a.nav-link {
  text-align: center;
  width: 100%;
  border-radius: 25px;
  padding: 8px;
  color:var(--color-claro);
  font-size: var(--font);
}
.navbar-nav .nav-item:hover a.nav-link {
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  transition: all 0.5s ease;
}

.header-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 992px;
  margin: 0 auto;
  height: calc(100vh - 64px);
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  height: calc(100vh - 148.5px);
  margin: 0 auto;
}
.profile-photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--color-claro);
  margin: 0 auto;
}
.info .profile-photo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.info p{
  max-width: 500px;
}
.info .my-name{
  color: rgb(255, 245, 62);
}
.info .underline{
  text-decoration: underline;
}


.header-info .swipe{
  height: auto;
  width: 140px;
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 30px;
  color: var(--color-primario);
  background-color: var(--color-claro);
}
.header-info .swipe span{
  display: inline-block;
  /* background-color: ;s */
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 16px;
  height: calc(100vh - 64px);
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  border-radius: 20px;
  max-width: 992px;
  height: auto;
  margin: 0 auto;
}
.about img{
  width: 200px;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.about .texto{
  margin: 32px 32px 32px;
}
.about .about-text{
  font-weight: 700;
}
.about .about-name{
  color: rgb(14, 165, 233);
  margin-top: 24px;
}
.about .about-job{
  color: rgb(51, 65, 85);
}

/*
Este el código que que le da estilos a
la priemra versión de código
.container-informacion{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.informacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-bottom: 60px;
  width: 800px;
}
.informacion h1{
  display: inline-block;
  width: 530px;
  line-height: 1.2;
  font-size: 6.5rem;
}
.informacion h1:hover{
  text-decoration: underline;
}
.informacion p{
  display: inline-block;
  width: 800px;
  line-height: 1.65;
  font-size: 1.6rem;
  margin-right: 50px;
  margin-top: 30px;
}
.profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}
.profile-photo img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.logo{
  margin: auto; 
}
.logo img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
*/

.main-container{
  display: flex;
  flex-direction: column;
  max-width: 992px;
  margin: 0 auto;
  min-height: calc(100vh);
}
.main-container h2{
  font-size: 3.2rem;
  margin: 30px 10px;
  margin-top: 64px;
}
/*
Esta es la parte de los proyectos
.principal{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.principal h2{
  font-size: 3.2rem;
  margin-bottom: 30px;
}
*/


.card-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
/* .tarjetas-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
} */
.card-section .card{
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 400px;
  margin-bottom: 50px;
  border: #fff 1px solid;
  border-radius: 20px;
  margin: 12px;
}
/* .tarjetas-container .tarjeta{
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 400px;
  margin-bottom: 50px;
  border: #fff 1px solid;
  border-radius: 20px;
  margin: 20px;
} */
.card-section .card:hover{
  transform: scale(1.03);
  transition: all 0.5s ease;
}
/* .tarjeta:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
} */
.card-section .card .card-image{
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
/* .tarjeta img{
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
} */
.card-section .card .card-content{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
/* .tarjeta .contenido{
  padding: 20px;
} */
.card-section .card .card-title{
  font-size: 2.4rem;
  margin-bottom: 10px;
}
/* .tarjeta .contenido h3{
  font-size: 2.4rem;
  margin-bottom: 10px;
} */
.card-section .card .card-text{
  font-size: 1.6rem;
  margin-bottom: 20px;
}
/* .tarjeta .contenido p{
  font-size: 1.2rem;
  margin-bottom: 20px;
} */
.card-section .card .card-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
/* .container-tecnologia{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
} */
.card-section .card-link .link{
  display: inline-block;
  padding: 10px 20px;
  margin: 8px;
  background-color: var(--color-claro);
  color: black;
  border-radius: 20px;
  font-size: 1.2rem;
  text-decoration: none;
}
/* .tarjeta .contenido .tecnologia{
  display: inline-block;
  padding: 10px 20px;
  margin: 8px;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  font-size: 1.2rem;
  text-decoration: none;
}*/


/* Formulario de contacto */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 100vw;
  height: calc(100vh);
  margin: 0 auto;
  padding: 0 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 40px 0;
  width: 300px;
  color: var(--color-oscuro);
  border-radius: 50px;
  background: var(--color-claro);
}
form h2{
  margin: 0 auto 20px;
}
.form-input{
  width: 80%;
  height: 50px;
  margin: 10px 0;
  padding: 0 20px;
  border-radius: 50px;
  background: var(--color-claro);
  border: 1px solid var(--color-oscuro);
  outline: none;
  font-size: 1.3rem;
  font-family: 'Niuno Sans', sans-serif;
  text-shadow: 1px 1px 0 var(--color-claro);
}
.form-label{
  font-size: var(--font);
  margin-top: 8px;
  margin-left: 30px;
  align-self: flex-start;
  text-shadow: 1px 1px 0 var(--color-claro);
}
#message{
  border-radius: 25px;
  height: 100px;
  padding-top: 20px;
}
.form-submit{
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
  background: var(--color-oscuro);
  color: var(--color-claro);
  outline: none;
  font-size: 1.3rem;
  font-family: 'Niuno Sans', sans-serif;
  cursor: pointer;
}
.form-submit:hover {
  background: var(--color-claro);
  color: var(--color-oscuro);
}
.form-submit:active {
  background: var(--color-claro);
  color: var(--color-oscuro);
}



/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}



/* Media query para que el navbar-var aparezca de costado en moviles: */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-brand{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 60px;
    width: 100vw;
    padding: 20px 0;
    background-color: var(--color-oscuro);

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }
  .navbar-nav .nav-item {
    width: 200px;
  }
  .navbar-nav .nav-item a.nav-link {
    margin: 0;
    padding: 16px;
  }
  .nav-toggle {
    display: block;
  }
  .navbar-nav_visible {
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .header-info{
    height: calc(100vh - 61.5px);
  }

  .about{
    flex-direction: column;
    padding: 32px;
    gap: 20px;
  }
  .about .texto{
    margin: 0;
    padding: 0;
  }
  .about img{
  width: 96px;
  height: 96px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
  }
}